@charset "utf-8";
/* CSS Document */

/*
	FLAG: These CSS elements do not change based on screen/media size.
*/

body{
	padding-top: 65px;
}

#resume{
	padding: 0 2%;
}

.carousel-inner img{ 
	/*
		Note that all the images in the band audition carousel have dimensions 770x1026px
		These properties resize the image to maintain its aspect ratio inside the carousel.
	*/
	width: 100%;
	height: 100%;
}

#bandAuditionCarousel, #wifiHeatMapCarousel{
	max-width: 770px;
	max-height: 1026px;
}

/*
	FLAG: Begin responsive resizing
	Extra small devices such as portrait-oriented mobile phones (less than 576px wide)
	There is no media query for this size, it is treated as the default
*/

#portrait{
	display: block;
	width: 80%;
	height: auto;
	max-width: 350px;
	border-radius: 50%;
	margin: 0 auto;
}

#jumbotronText{
	display: block;
	width: 100;
	text-align: center;
}

.projectCard{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.cardBottom{
	display: block;
}

#bandAuditionDescription, #wifiHeatMapDescription{
	/*The text that describes the project depicted by the carousel*/
	width: 95%;
	margin-bottom: 20px;
	display: block;
}

#bandAuditionCarousel, #wifiHeatMapCarousel{
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Small devices such as landscape-oriented mobile phones (576px and up)*/
@media (min-width: 576px) {
	/*No significant changes between this size and previous, 
	this is here because the size is a bootsrap standard, 
	and I want to make sure my code works with theirs if needed.*/
}

/*Medium devices such as tablets (768px and up)*/
@media (min-width: 768px) {
	
	/*TODO: readjust the appearance of my picture*/
	#portrait{
		width: 25%;
		display: inline-block;
	}
	
	#jumbotronText{
		display: inline-block;
		width: 70%;
		margin-left: 3%;
		vertical-align: middle;
		text-align: left;
	}
	
	#bandAuditionDescription, #wifiHeatMapDescription{
		display: inline-block;
		margin-right: 9%; /*10% pushes the carousel to a new line*/
		width: 45%;
		vertical-align: top;
	}
	
	#bandAuditionCarousel, #wifiHeatMapCarousel{
		display: inline-block;
		width: 45%;
	}
	
	#emergenceTheoryCard img, #steganographyCard img{
		max-width: 45%;
		margin-left: 4%;
		margin-right: auto;
		vertical-align: top;
		display: inline-block;
	}
	
	#emergenceTheoryCard .card-text, #steganographyCard .card-text{
		display: inline-block;
		max-width: 50%;
	}
}

/*Large devices such as laptops (992px and up)*/
@media (min-width: 992px){
	.projectCard{
		vertical-align: top;
		display: inline-block !important;
		margin: 0 2.2% 15px;
	}
	
	#bandAuditionCarousel, #wifiHeatMapCarousel{
		vertical-align: top;
	}
	
	#emergenceTheoryCard img, #steganographyCard img{
		max-height: 300px;
		width: auto;
	}
}

/*Extra large devices such as large desktop monitors (1200px and up)*/
@media (min-width: 1200px){
	#bandAuditionDescription, #wifiHeatMapDescription{
		vertical-align: top;
		width: 51%;
		margin-right: 3%;
	}
}